.from-container {
  background-color: #F4F4F4;
  border-top: 8px solid #00ADEE;
  height: 350px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}

.decoration-input {
  border: none;
  border-radius: 5px;
  height: 32px;
  width: 215px;
}

.count {
  background-color: #FFF;
  border: solid 2px #2C2C22;
  border-radius: 5px;
  color: #2C2C22;
  display: flex;
  font-size: 16px;
  margin: auto;
  padding: 10px;
}
